anaconda-client==1.11.2
anaconda-navigator==2.4.2
anaconda-project @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_6ddp1qj6b_/croots/recipe/anaconda-project_1660339893712/work
annotated-types==0.7.0
anyio @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-t_zs64wy/anyio_1644482593257/work/dist
appnope @ file:///Users/ktietz/ci_310/appnope_1643965056645/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-wbf5edig/argon2-cffi-bindings_1644845754377/work
asgiref==3.8.1
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
attrs @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_224434dqzl/croot/attrs_1695717839274/work
awscrt==0.20.10
awsiotsdk @ file:///Users/SuryatejaD/Downloads/connect_device_package%20%281%29/aws-iot-device-sdk-python-v2
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
bcrypt==4.2.0
beautifulsoup4 @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_fa78jvo_0n/croot/beautifulsoup4-split_1681493044306/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.8.2
boltons @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f63n9uulmp/croot/boltons_1677628710094/work
Bottleneck @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2bxpizxa3c/croot/bottleneck_1707864819812/work
Brotli @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_38mvgltu8c/croots/recipe/brotli-split_1659616064542/work
CacheControl==0.14.0
cachetools==5.3.3
capstone==6.0.0a1
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b4nang6w_y/croot/cffi_1700254307954/work
chardet @ file:///Users/ktietz/ci_310/chardet_1643965356347/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_61srkg7e2e/croot/click_1698129815327/work
cloudevents==1.10.1
clyent==1.2.2
colored-traceback==0.4.2
comm @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3doui0bmzb/croot/comm_1709322861485/work
conda @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_3bspr1yk3p/croot/conda_1685025187626/work
conda-build==3.24.0
conda-content-trust @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_11146a2b-93c2-444c-a378-ad4fac363e991s0r1hnp/croots/recipe/conda-content-trust_1658126383571/work
conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
conda-package-handling @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5f3f459f9v/croot/conda-package-handling_1672865025324/work
conda-repo-cli @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_d9sayfhoiy/croot/conda-repo-cli_1709246580063/work
conda-token @ file:///Users/paulyim/miniconda3/envs/c3i/conda-bld/conda-token_1662660369760/work
conda-verify==3.4.2
conda_package_streaming @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_58gpsa_6af/croot/conda-package-streaming_1670508144037/work
contourpy==1.1.0
cryptography @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a9zjqvif1f/croot/cryptography_1677533099634/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
debugpy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_563_nwtkoc/croot/debugpy_1690905063850/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
deprecation==2.1.0
distro==1.9.0
Django==5.1.6
django-cors-headers==4.7.0
djangorestframework==3.15.2
entrypoints @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-jb01gaox/entrypoints_1650293758411/work
exceptiongroup @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_b2258scr33/croot/exceptiongroup_1706031391815/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_43a0jaiddu/croots/recipe/python-fastjsonschema_1661368628129/work
filelock @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d3quwmvouf/croot/filelock_1700591194006/work
firebase==4.0.1
firebase-admin==6.5.0
Flask==3.0.3
fonttools==4.40.0
fsspec==2024.6.1
functions-framework==3.7.0
future @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_14jxr8efxg/croot/future_1677599893084/work
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
google-api-core==2.19.0
google-api-python-client==2.131.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud==0.34.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.0
google-cloud-pubsub==2.21.2
google-cloud-storage==2.16.0
google-cloud-vision==3.7.2
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
grpc-google-iam-v1==0.13.0
grpcio==1.64.0
grpcio-status==1.62.2
gunicorn==22.0.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.29.1
hume==0.6.0
hyperframe==6.0.1
idna @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_771olrhiqw/croot/idna_1666125579282/work
importlib-resources==5.12.0
inquirerpy==0.3.4
install==1.3.5
intervaltree==3.1.0
ipykernel @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_98tee4lcge/croot/ipykernel_1691121640975/work
ipython @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a1tmxj9b4u/croot/ipython_1704833016119/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
itsdangerous==2.2.0
jedi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-f1t6hma6/jedi_1644315882177/work
Jinja2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_7dognxkzoy/croot/jinja2_1706733627811/work
jiter==0.5.0
jsonpatch @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_14fkybcjic/croot/jsonpatch_1710807510523/work
jsonpointer==2.1
jsonschema @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_27o3go8sqa/croot/jsonschema_1699041627313/work
jsonschema-specifications @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_d38pclgu95/croot/jsonschema-specifications_1699032390832/work
jupyter-server @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c8338fkvq6/croot/jupyter_server_1671707627219/work
jupyter_client @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_aen57n2aow/croot/jupyter_client_1676329104065/work
jupyter_core @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_782yoyc_98/croot/jupyter_core_1698937318631/work
jupyterlab-pygments @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ffqcgnkz0b/croot/jupyterlab_pygments_1700168596907/work
keyboard==0.13.5
kiwisolver @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_93o8te804v/croot/kiwisolver_1672387163224/work
latest==0.6.0
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
llvmlite==0.42.0
Mako==1.3.6
MarkupSafe @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a84ni4pci8/croot/markupsafe_1704206002077/work
matplotlib @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_05rfi32zzb/croot/matplotlib-suite_1679593473526/work
matplotlib-inline @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f6fdc0hldi/croots/recipe/matplotlib-inline_1662014472341/work
memory-profiler==0.61.0
mistune @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_17ya6k1sbs/croots/recipe/mistune_1661496228719/work
msgpack==1.0.8
nano==0.10.0
navigator-updater @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_20m7jnqh2q/croot/navigator-updater_1713453387823/work
nbclassic @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_02p0vqz35v/croot/nbclassic_1699542817913/work
nbclient @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_626hpwnurm/croot/nbclient_1698934218848/work
nbconvert @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_caxv2emy33/croot/nbconvert_1699022756174/work
nbformat @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_cbnf5nccgk/croot/nbformat_1694616744196/work
nest-asyncio @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_310vb5e2a0/croot/nest-asyncio_1708532678212/work
notebook @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_37zamp3vxi/croot/notebook_1690984825122/work
notebook_shim @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d6_ze10f45/croot/notebook-shim_1699455897525/work
numba==0.59.1
NumbaSummarizer==0.1.1
numexpr @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_45yefq0kt6/croot/numexpr_1696515289183/work
numpy==1.25.0
ollama==0.4.7
ollama-python==0.1.2
openai==1.41.1
opencv-python==4.5.5.64
opencv-python-headless==4.9.0.80
packaging @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a6lqg7at4g/croot/packaging_1710807410750/work
pandas @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_988rx6x546/croot/pandas_1709590494976/work/dist/pandas-2.2.1-cp310-cp310-macosx_11_0_arm64.whl#sha256=2bba141f1a53413635b4cd2cb450f7b50c13ec2f4303ad894adb443cbc25431f
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
paramiko==3.5.0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pfzy==0.3.4
pillow==10.3.0
pinecone-client==5.0.1
pinecone-plugin-inference==1.0.3
pinecone-plugin-interface==0.0.7
pkginfo @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d1oq9rhye6/croot/pkginfo_1679431178842/work
platformdirs @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a8u4fy8k9o/croot/platformdirs_1692205661656/work
pluggy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-w6jyveby/pluggy_1648109277227/work
plumbum==1.9.0
ply==3.11
prometheus-client @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_25sgeyk0j5/croots/recipe/prometheus_client_1659455103277/work
prompt-toolkit @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_c63v4kqjzr/croot/prompt-toolkit_1704404354115/work
proto-plus==1.23.0
protobuf==4.25.3
psutil @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1310b568-21f4-4cb0-b0e3-2f3d31e39728k9coaga5/croots/recipe/psutil_1656431280844/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pwntools==4.13.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycosat @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3eg8vdcs6z/croot/pycosat_1696536519213/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
pyelftools==0.31
Pygments @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_29bs9f_dh9/croot/pygments_1684279974747/work
PyJWT==2.8.0
PyNaCl==1.5.0
pyobjc==10.3
pyobjc-core==10.3
pyobjc-framework-Accessibility==10.3
pyobjc-framework-Accounts==10.3
pyobjc-framework-AddressBook==10.3
pyobjc-framework-AdServices==10.3
pyobjc-framework-AdSupport==10.3
pyobjc-framework-AppleScriptKit==10.3
pyobjc-framework-AppleScriptObjC==10.3
pyobjc-framework-ApplicationServices==10.3
pyobjc-framework-AppTrackingTransparency==10.3
pyobjc-framework-AudioVideoBridging==10.3
pyobjc-framework-AuthenticationServices==10.3
pyobjc-framework-AutomaticAssessmentConfiguration==10.3
pyobjc-framework-Automator==10.3
pyobjc-framework-AVFoundation==10.3
pyobjc-framework-AVKit==10.3
pyobjc-framework-AVRouting==10.3
pyobjc-framework-BackgroundAssets==10.3
pyobjc-framework-BusinessChat==10.3
pyobjc-framework-CalendarStore==10.3
pyobjc-framework-CallKit==10.3
pyobjc-framework-CFNetwork==10.3
pyobjc-framework-Cinematic==10.3
pyobjc-framework-ClassKit==10.3
pyobjc-framework-CloudKit==10.3
pyobjc-framework-Cocoa==10.3
pyobjc-framework-Collaboration==10.3
pyobjc-framework-ColorSync==10.3
pyobjc-framework-Contacts==10.3
pyobjc-framework-ContactsUI==10.3
pyobjc-framework-CoreAudio==10.3
pyobjc-framework-CoreAudioKit==10.3
pyobjc-framework-CoreBluetooth==10.3
pyobjc-framework-CoreData==10.3
pyobjc-framework-CoreHaptics==10.3
pyobjc-framework-CoreLocation==10.3
pyobjc-framework-CoreMedia==10.3
pyobjc-framework-CoreMediaIO==10.3
pyobjc-framework-CoreMIDI==10.3
pyobjc-framework-CoreML==10.3
pyobjc-framework-CoreMotion==10.3
pyobjc-framework-CoreServices==10.3
pyobjc-framework-CoreSpotlight==10.3
pyobjc-framework-CoreText==10.3
pyobjc-framework-CoreWLAN==10.3
pyobjc-framework-CryptoTokenKit==10.3
pyobjc-framework-DataDetection==10.3
pyobjc-framework-DeviceCheck==10.3
pyobjc-framework-DictionaryServices==10.3
pyobjc-framework-DiscRecording==10.3
pyobjc-framework-DiscRecordingUI==10.3
pyobjc-framework-DiskArbitration==10.3
pyobjc-framework-DVDPlayback==10.3
pyobjc-framework-EventKit==10.3
pyobjc-framework-ExceptionHandling==10.3
pyobjc-framework-ExecutionPolicy==10.3
pyobjc-framework-ExtensionKit==10.3
pyobjc-framework-ExternalAccessory==10.3
pyobjc-framework-FileProvider==10.3
pyobjc-framework-FileProviderUI==10.3
pyobjc-framework-FinderSync==10.3
pyobjc-framework-FSEvents==10.3
pyobjc-framework-GameCenter==10.3
pyobjc-framework-GameController==10.3
pyobjc-framework-GameKit==10.3
pyobjc-framework-GameplayKit==10.3
pyobjc-framework-HealthKit==10.3
pyobjc-framework-ImageCaptureCore==10.3
pyobjc-framework-InputMethodKit==10.3
pyobjc-framework-InstallerPlugins==10.3
pyobjc-framework-InstantMessage==10.3
pyobjc-framework-Intents==10.3
pyobjc-framework-IntentsUI==10.3
pyobjc-framework-IOBluetooth==10.3
pyobjc-framework-IOBluetoothUI==10.3
pyobjc-framework-IOSurface==10.3
pyobjc-framework-iTunesLibrary==10.3
pyobjc-framework-KernelManagement==10.3
pyobjc-framework-LatentSemanticMapping==10.3
pyobjc-framework-LaunchServices==10.3
pyobjc-framework-libdispatch==10.3
pyobjc-framework-libxpc==10.3
pyobjc-framework-LinkPresentation==10.3
pyobjc-framework-LocalAuthentication==10.3
pyobjc-framework-LocalAuthenticationEmbeddedUI==10.3
pyobjc-framework-MailKit==10.3
pyobjc-framework-MapKit==10.3
pyobjc-framework-MediaAccessibility==10.3
pyobjc-framework-MediaLibrary==10.3
pyobjc-framework-MediaPlayer==10.3
pyobjc-framework-MediaToolbox==10.3
pyobjc-framework-Metal==10.3
pyobjc-framework-MetalFX==10.3
pyobjc-framework-MetalKit==10.3
pyobjc-framework-MetalPerformanceShaders==10.3
pyobjc-framework-MetalPerformanceShadersGraph==10.3
pyobjc-framework-MetricKit==10.3
pyobjc-framework-MLCompute==10.3
pyobjc-framework-ModelIO==10.3
pyobjc-framework-MultipeerConnectivity==10.3
pyobjc-framework-NaturalLanguage==10.3
pyobjc-framework-NetFS==10.3
pyobjc-framework-Network==10.3
pyobjc-framework-NetworkExtension==10.3
pyobjc-framework-NotificationCenter==10.3
pyobjc-framework-OpenDirectory==10.3
pyobjc-framework-OSAKit==10.3
pyobjc-framework-OSLog==10.3
pyobjc-framework-PassKit==10.3
pyobjc-framework-PencilKit==10.3
pyobjc-framework-PHASE==10.3
pyobjc-framework-Photos==10.3
pyobjc-framework-PhotosUI==10.3
pyobjc-framework-PreferencePanes==10.3
pyobjc-framework-PushKit==10.3
pyobjc-framework-Quartz==10.3
pyobjc-framework-QuickLookThumbnailing==10.3
pyobjc-framework-ReplayKit==10.3
pyobjc-framework-SafariServices==10.3
pyobjc-framework-SafetyKit==10.3
pyobjc-framework-SceneKit==10.3
pyobjc-framework-ScreenCaptureKit==10.3
pyobjc-framework-ScreenSaver==10.3
pyobjc-framework-ScreenTime==10.3
pyobjc-framework-ScriptingBridge==10.3
pyobjc-framework-SearchKit==10.3
pyobjc-framework-Security==10.3
pyobjc-framework-SecurityFoundation==10.3
pyobjc-framework-SecurityInterface==10.3
pyobjc-framework-SensitiveContentAnalysis==10.3
pyobjc-framework-ServiceManagement==10.3
pyobjc-framework-SharedWithYou==10.3
pyobjc-framework-SharedWithYouCore==10.3
pyobjc-framework-ShazamKit==10.3
pyobjc-framework-Social==10.3
pyobjc-framework-SoundAnalysis==10.3
pyobjc-framework-Speech==10.3
pyobjc-framework-SpriteKit==10.3
pyobjc-framework-StoreKit==10.3
pyobjc-framework-Symbols==10.3
pyobjc-framework-SyncServices==10.3
pyobjc-framework-SystemConfiguration==10.3
pyobjc-framework-SystemExtensions==10.3
pyobjc-framework-ThreadNetwork==10.3
pyobjc-framework-UniformTypeIdentifiers==10.3
pyobjc-framework-UserNotifications==10.3
pyobjc-framework-UserNotificationsUI==10.3
pyobjc-framework-VideoSubscriberAccount==10.3
pyobjc-framework-VideoToolbox==10.3
pyobjc-framework-Virtualization==10.3
pyobjc-framework-Vision==10.3
pyobjc-framework-WebKit==10.3
pyOpenSSL @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b8whqav6qm/croot/pyopenssl_1690223428943/work
pyparsing @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_3b_3vxnd07/croots/recipe/pyparsing_1661452540919/work
PyQt5==5.15.10
PyQt5-sip @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_7c_9f71up5/croot/pyqt-split_1698769091879/work/pyqt_sip
pyserial==3.5
PySocks @ file:///Users/ktietz/ci_310/pysocks_1643961536721/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.1
python-http-client==3.3.7
pytz @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_6btwyyj8a1/croot/pytz_1695131592184/work
PyYAML @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a8_sdgulmz/croot/pyyaml_1698096054705/work
pyzmq @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_8599562e-e9e5-443b-91db-7f7c0ba6aad3mrdoyvz4/croots/recipe/pyzmq_1657724196154/work
QtPy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_7ctc7lxlar/croot/qtpy_1700144861044/work
referencing @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5cz64gsx70/croot/referencing_1699012046031/work
requests @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_b3tnputioh/croot/requests_1707355573919/work
requests-toolbelt @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3fee1fr2ex/croot/requests-toolbelt_1690874011813/work
responses==0.24.1
ROPGadget==7.5
rpds-py @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_f8jkozoefm/croot/rpds-py_1698945944860/work
rpyc==6.0.1
rsa==4.9
ruamel-yaml-conda @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ffli8pikr0/croot/ruamel_yaml_1667489741108/work
ruamel.yaml @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_aeh5mqcw49/croot/ruamel.yaml_1666304555976/work
ruamel.yaml.clib @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f64xdg2rww/croot/ruamel.yaml.clib_1666302244208/work
scipy==1.13.0
Send2Trash @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_5b31f0zzlv/croot/send2trash_1699371144121/work
sendgrid==6.11.0
simpleaudio==1.0.4
sip @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_ba9odc_3u1/croot/sip_1698675938651/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1573pknjrg/croot/sniffio_1705431298885/work
sortedcontainers==2.4.0
sounddevice==0.4.7
soupsieve @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_9798xzs_03/croot/soupsieve_1696347567192/work
sqlparse==0.5.3
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starkbank-ecdsa==2.2.0
terminado @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_fcfvyc0an2/croot/terminado_1671751835701/work
tinycss2 @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_fcw5_i306t/croot/tinycss2_1668168825117/work
tomli @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d0e5ffbf-5cf1-45be-8693-c5dff8108a2awhthtjlq/croots/recipe/tomli_1657175508477/work
toolz @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_362wyqvvgy/croot/toolz_1667464079070/work
tornado @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_3a5nrn2jeh/croot/tornado_1696936974091/work
tqdm @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ac7zic_tin/croot/tqdm_1679561870178/work
traitlets @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_6301rd5qbe/croot/traitlets_1671143894285/work
typing_extensions==4.12.2
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
ujson @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_72fbb42e-3a51-4c00-94eb-4f9b77e34df43ubvg1xz/croots/recipe/ujson_1657544926230/work
unicodedata2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a3epjto7gs/croot/unicodedata2_1713212955584/work
unicorn==2.1.1
unix-ar==0.2.1
uritemplate==4.1.1
urllib3 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_aff2m3lasf/croot/urllib3_1707770561896/work
watchdog==4.0.1
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client @ file:///Users/ktietz/ci_310/websocket-client_1643972661291/work
websockets==12.0
Werkzeug==3.0.3
yt-dlp==2025.2.19
zstandard @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_41b3vxtask/croot/zstandard_1677013668452/work
