:root{
    --website-background: #034078;
    --main-color: #001F54;
    --acc-color: #034078;
    --header-shadow: #0A1128;
    --button-color: rgb(214, 235, 245);
    --box-background: #8FB8DE;
    
    --gradient-left-color: rgb(255, 0, 0);
    --gradient-right-color: rgb(255, 149, 0);
    --error-color: rgb(191, 13, 13);
    --hover-color: #46d671;
  }
  
  .grad {
    background: linear-gradient(to right, var(--gradient-left-color), var(--gradient-right-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display:inline-block;
    font-weight: bold;
    font-size: 35px;
  }

  .errorLabel {
      padding: 0px 0px 7px 7px;
      text-align: left;
      color: var(--error-color);
      font-weight: normal;
  }

  .error-input {
    border: 2px solid var(--error-color);
  }