.container{
    display: flex;
    border: 1px solid rgb(14, 190, 82);
    height: 90vh;
    gap: 30px;
    margin: 10px;
    justify-content: space-between;
}

.left-panel{
    border: 1px solid black;
    height: auto;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(8, 28, 29);
    gap: 20px;
    align-self: flex-start;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.top-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    width: 90%;
    height: auto;
    margin: 0px;
    background-color: rgb(11, 38, 39);
    border-radius: 50px;
}

.top-info p{
    margin: 5px; /* Remove default margins */
    color: grey;
}
.contact-container{
    width: 90%;
    display: flex;
    flex-direction: column ;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    background-color: rgb(11, 38, 39);
    
}
.contact-container > * {
    margin: 5px;
  }
.Links{
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 20px;
}
img{
    border-radius: 50%;
    cursor: 'pointer';
    width: 25px;
}

.image{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 25%;
    height: auto;
    border-radius: 50%;
    }

.profile-content{
    border:1px solid rgb(128, 1, 1);
    height: 100%;
    width: 75%;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
}
.profile-content h1{
    margin-top: 10px;
}