.container {
    display: flex;
    border: 1px solid black;
    height: 90vh;

}

.left-panel {
    border: 1px solid black;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.top-info {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    width: 90%;
    height: auto;
    margin: 0px;
}

.top-info p {
    margin: 5px;
    /* Remove default margins */
    color: grey;
}

.link-info {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    background-color: white;

}

.image {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 25%;
    height: auto;
    border-radius: 50%;
}

.profile-content {
    border: 1px solid rgb(128, 1, 1);
    height: 100%;
    width: 75%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-content h1 {
    margin-top: 10px;
}