@import './css/Colors.css';

:root {
    --hover-color: #f5ad42;
    --white: #ffffff;
    --black: #000000;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    height: 100vh;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.Button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--button-color);
    font-family: 'Poppins', sans-serif;
    width: auto;
    color: #000;
    border: 1px solid var(--acc-color);
    padding: 5px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
}

.Button i {
    margin-left: 8px;
    transition: transform 0.3s ease;
}

.Button:hover {
    background-color: var(--hover-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #000000;
}

.dropdown-content {
    position: absolute;
    top: 105%;
    left: 0;
    background: #fff;
    width: 300px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    height: 15px;
    text-decoration: none;
    text-align: left;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #ddd;
}

.dropdown-content a i {
    margin-right: 8px;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    background-color: var(--hover-color);
    color: #000000;
}