.home-page {
    width: 100vw;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.home-header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}


.btn {
    background-color: #377510;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 30px;
    cursor: pointer;
}

.btn:hover {
    background-color: #62b41f;
}

.home-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1,
h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}